<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center bg-bluebell navbar-brand-wrapper d-flex align-items-top justify-content-left">
    <a class="navbar-brand brand-logo" href="index.html">
      Test Entries
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-left">
    <ul class="navbar-nav navbar-nav-left header-links d-none d-md-none d-lg-flex">
      <li class="nav-item-header">
        Welcome to <b>Test Entries</b>! Bringing together all resources for test automation.
      </li>
    </ul>
    <ul class="navbar-nav navbar-nav-right">
      <!--li class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block ">
        <a class="nav-link" id="UserDropdown" href="#">
          <span class="text-right">Login</span>
        </a>
      </li-->
      <!-- li class="nav-item dropdown d-none d-lg-inline-block d-xl-inline-block">
        <a class="nav-link dropdown-toggle text-right" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
          <span>Hello, Awin Abi</span>&nbsp;
          <i class='fas fa-user bg-behance p-2 rounded'></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
          <a class="dropdown-item mt-2" href='#'>
            <i class="fas fa-user text-dark"></i>
            My Profile
          </a>
          <a class="dropdown-item" href='#'>
            <i class="fas fa-sign-out-alt text-danger"></i>
            Sign Out
          </a>
        </div>
      </li -->
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-right" type="button" data-toggle="offcanvas">
      <i class="fas fa-ellipsis-v"></i>
    </button>
  </div>
</nav>
