<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/posts">
        <i class="menu-icon fas fa-pen-alt text-behance"></i>
        <span class="menu-title">Posts</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/news">
        <i class="menu-icon fas fa-bullhorn text-warning"></i>
        <span class="menu-title">QA News</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reading">
        <i class="menu-icon fas fa-book text-success"></i>
        <span class="menu-title">Reading List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/topics/automation">
        <i class="menu-icon fas fa-robot text-pinterest"></i>
        <span class="menu-title">Automation</span>
      </a>
    </li>
    <!-- li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="menu-icon fas fa-code text-pinterest"></i>
        <span class="menu-title">API Testing</span>
      </a>
    </li -->
    <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="menu-icon fas fa-mobile-alt text-pinterest"></i>
          <span class="menu-title">Appium</span>
        </a>
      </li>
    <li class="nav-item d-lg-none">
      <a class="nav-link" href="#">
        <i class="menu-icon fas fa-user text-dark"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
    <li class="nav-item d-lg-none">
      <a class="nav-link" href="#">
        <i class="menu-icon fas fa-sliders-h text-dark"></i>
        <span class="menu-title">Settings</span>
      </a>
    </li>
    <li class="nav-item d-lg-none">
      <a class="nav-link" href="#">
        <i class="menu-icon fas fa-sign-out-alt text-danger"></i>
        <span class="menu-title">Sign Out</span>
      </a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">
        <i class="menu-icon fas fa-user-tie text-behance"></i>
        <span class="menu-title">Jobs</span>
      </a>
    </li-->
  </ul>
  <hr />
  <div class='today mt-3'>
    <p><%= new Date().toDateString() %></p>
    <p><b>Quote of the Day</b></p>
    <p>Lighten up, just enjoy life, smile more, laugh more, and don't get so worked up about things.
      <br />
      <small>Kenneth Branagh</small>
    </p>
    <hr />
    <div class='semver mt-3'>
      <small>Build 96a4d5f</small>
    </div>
  </div>
  
</nav>
