footer.footer
  .container-fluid.clearfix
    span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
      Copyright © #{new Date().getFullYear()} All rights reserved.
    span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
      | Made with
      i.mdi.mdi-heart.text-danger
      |  by 
      a(href=site.authorTwitterUrl)= site.authorTwitterHandle