nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
  .text-center.bg-bluebell.navbar-brand-wrapper.d-flex.align-items-top.justify-content-left
    a.navbar-brand.brand-logo(href='/')= site.title
  .navbar-menu-wrapper.d-flex.align-items-left
    ul.navbar-nav.navbar-nav-left.header-links.d-none.d-md-none.d-lg-flex
      li.nav-item-header= site.description
    ul.navbar-nav.navbar-nav-right
    button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-right(type='button', data-toggle='offcanvas')
      i.fas.fa-ellipsis-v