<div class="card border-1">
  <div class="card-body">
    <h4 class="card-title text-behance mb-3">Subscribe to Test Entries</h4>
    <div class="wrapper d-flex justify-content-between">
      
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title mb-5">Trending Topics</h2>
    <div class="wrapper d-flex justify-content-between">
      
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <div>
      <h4 class="text-behance">Have a question?</h4>
      <p>Found a bug or have a question regarding the content?</p>
      <p>This site is maintained by me and you can reach me at <a href='#'>awin (at) testentries.com</a></p>
    </div>
    <div class='mt-5'>
      <h4 class='text-behance'>Follow <span class='brand-style'>Test Entries</span></h4>
      <a href='#'><i class='fab fa-twitter'></i> Twitter</a>
    </div>
  </div>
</div>